</html>
<head>
<title>Innoday VII - Device Discovery using SSDP over IPv6 link local</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <style type="text/css">
    .container {
        padding: 10px;
    }
    .card {
        margin: 10px;
    }
    .card-header {
        padding: 5px 10px;
    }
    .btn {
        float: right;
    }
    .circle {
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: green;
        margin-right: 8px;
        vertical-align: middle;
        transition: all 2s;
    }
    .circle:hover {
        opacity: 0;
    }
    .row {
      display: flex;
    }
    .column {
      flex: 50%;
    }
    .icon {
        padding-right: 10px;
    }
    </style>
</head>
<body>

<nav class="navbar navbar-light bg-secondary">
<a class="navbar-brand" href="#">Kontron Device Explorer</a>
<span id="connectionStatus" class="badge badge-light">Loading...</span>
</nav>

<div class=wrapper>

<div class="container">
    
</div>

<div class="container" id="messages">

<div class="card card-prototype" style="display: none">
  <div class="card-header">
    <img src="device.png" width="100" class="icon">
    <span class="device_name"></span>
    <button type="button" class="close"><span>&times;</span></button>
  </div>
  <div class="card-body">
    <p class="card-text"></p>
  </div>
</div>

</div>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.core.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="ServerConnection.js"></script>
<script>
$(function(){
    var ws = new ServerConnection("ws://" + location.host + "/ws/");
    ws.onMessage(function(msg) {
        console.log("message: " + msg);

        device = JSON.parse(msg);

        var card = $(".card").filter(function(i, e) {return $(e).data("id") == device.unique_service_name;})[0];
        if (!card) {
            card = $(".card-prototype").clone();
            card.removeClass("card-prototype");
            card.data("id", device.unique_service_name);
            $("#messages").append(card);
            card.fadeIn("slow");
        } else card = $(card);
       
        card.find(".card-text").html("<b>" + device.server + '</b><br><a href="#">' + device.location + "</a>");
        card.find(".device_name").text(device.service_type);
    });
    ws.onStateChange(function(state) {
        function readyStateToText(stae) {
            switch(state) {
                case 0: return "connecting";
                case 1: return "connected";
                case 2: return "closing";
                case 3: return "disconnected";
                default: return "unknown";
            }
        };
        $("#connectionStatus").text(readyStateToText(state));
    });

    $("body").on("click", "button.close", function(e){
        var e = $(e.target).parent().parent().parent();
        e.fadeOut("fast", function() {e.remove();});
        console.log(e);
    })
});
</script>
</html>
